#base {
  padding: 20px;
}

.note {
  margin: 10px;
  padding: 15px;
  border: solid #ccc 1px;
}

input.search {
  margin-left: 10px;
}

html, body {
  margin: 0;
  padding: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

table {
  table-layout: fixed;
}

th:nth-child(1), th-nth-child(2), th:nth-child(3) {
  width: 30%;
}

th:nth-child(4) {
  width: 10%;
}

td:nth-child(4) {
  text-align: center;
}

.navbar-brand {
  padding: 0 15px;;
}

.navbar-brand .logo {
  margin: 5px 15px;
  width: 40px;
  display: inline-block;
}